<h1> Welcome to WatchTower</h1>
<div id = "pie">
</div>
<div id = "map">
</div>
<div id = "legend">
	<div>
		<img src = "../img/assault.png"/><p> Assault</p>
	</div>

	<div>
		<img src = "../img/child_abuse.png"/><p>Child Abuse</p>
	</div>

	<div>
		<img src = "../img/dui.png"/><p> DUI</p>
	</div>

	<div>
		<img src = "../img/elder_abuse.png"/><p>Elder Abuse</p>
	</div>

	<div>
		<img src = "../img/intox.png"/><p>Public Intoxication</p>
	</div>

	<div>
		<img src = "../img/loitering.png"/><p>Loitering</p>
	</div>

	<div>
		<img src = "../img/murder.png"/><p>Murder</p>
	</div>

	<div>
		<img src = "../img/sex_assault.png"/><p>Sexual Assault</p>
	</div>

	<div>
		<img src = "../img/substance.png"/><p>Substance Possession</p>
	</div>

	<div>
		<img src = "../img/theft.png"/><p>Theft</p>
	</div>

	<div>
		<img src = "../img/vandalism.png"/><p>Vandalism</p>
	</div>

	<div>
		<img src = "../img/weapon.png"/><p>Weapon Possession</p>
	</div>
</div>
<div id = "slider"></div>
<h2 id = "something"></h2>

<h2 align="center">Bar Chart</h2>
<div>
	<div id="stackBarChart" style="padding-top: 20px; display: inline;"></div>
	<div id="stackLegendChart" style="display: inline;"></div>
</div>
