body {
  background-color: #222831;
  color: #EEEEEE;
  margin-right: 0px;
}

h1 {
  color: #00ADB5;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

h2 {
  color: #00ADB5;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.axis {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  stroke: #EEEEEE;
  fill: #EEEEEE;
  shape-rendering: crispEdges;
}

.xaxis path {
  display: none;
}

#stackBarChart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#stackBarChart #hoverText {
  font-family: 'Roboto', sans-serif;
  fill: #EEEEEE;
}

.legend text {
  font-family: 'Roboto', sans-serif;
  fill: #EEEEEE;
  font-size: 0.8em;
}

.chart2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chart2 rect {
  fill: steelblue;
}

#map{

  width: 92%;
  height: 800px;
  margin-right: 0px;
  text-align: center;
  margin: 0 auto;

}

#slider{
  width: 92%;
  margin: 0 auto;
  height: 20px;
  z-index: 101;
}

#coordinates{
  font-size: 20px;
  color: red;
  position: absolute;
  left: 10px;
  top: 150px;
}

#something{
  color: black;
  position: absolute;
  left: 100px;
  top: 750px;
  font-size: 50px;
}

#pie{
  position: absolute;
  z-index: 100;
  right: 0px;
  top: 440px;

}

#legend{
  position: absolute;
  background-color: rgba(255,255,255,.7);
  top: 90px;
  right: 130px;
}

#legend div p{
  font-size: 20px;
  color:black;
  display: inline;
  text-align: center;
  vertical-align: center;
  margin-left: 5px;
}

#legend div img{
  height: 25px;
  width: 25px;
}