body {
  background-color: #222831;
  color: #EEEEEE;
  margin: -1% 0 0 -1%;
}

h1 {
  color: #00ADB5;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

h2 {
  color: #00ADB5;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

p {
  color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
}
.start {
  background-image:url("../img/batman.png");
  background-repeat: no-repeat;
  background-position: 5% 45%;
  width: 107%;
  height: 100%;
  margin-top: 0px;
  background-color: #000000;
  /*background-size:100%;*/
}

.startText {
  width: 50%;
  padding-top: 5%;
  padding-left: 35%;
  text-align: center;
}

.startText h1 {
  font-size: 100px;
}

.startArrow {
  font-family: Apple Symbols;
  margin-left: -700px;
  /*margin-top:250px;*/
/*    color: #5a5a5a;*/    
  color: white;
  text-align: center;
  margin: 0 auto;
}

.start h1 {
  color: #00ADB5;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-align: center;
}


.start p {
  font-size: 30px;
  color: #EEEEEE;
  text-align: center;
  font-family: Roboto, sans-serif; 
}


.startArrow img {
  width: 8%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
   -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}


@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.axis {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  stroke: #EEEEEE;
  fill: #EEEEEE;
  shape-rendering: crispEdges;
}

.xaxis path {
  display: none;
}

#stackBarChart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#stackBarChart #hoverText {
  font-family: 'Roboto', sans-serif;
  fill: #EEEEEE;
}

.legend text {
  font-family: 'Roboto', sans-serif;
  fill: #EEEEEE;
  font-size: 0.8em;
}

.chart2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chart2 rect {
  fill: steelblue;
}

#map{

  width: 92%;
  height: 690px;
  margin-right: 0px;
  text-align: center;
  margin: 0 auto;

}

#slider{
  width: 92%;
  margin: 0 auto;
  height: 20px;
  z-index: 101;
}

#coordinates{
  font-size: 20px;
  color: red;
  position: absolute;
  left: 10px;
  top: 150px;
}

#something{
  color: black;
  position: absolute;
  left: 100px;
  top: 1275px;
  font-size: 50px;
}

#pie{
  position: absolute;
  z-index: 100;
  right: 25px;
  top: 1000px;

}

#legend{
  position: absolute;
  background-color: rgba(255,255,255,.7);
  top: 750px;
  right: 90px;
}

#legend div p{
  font-size: 15px;
  color:black;
  display: inline;
  text-align: center;
  vertical-align: center;
  margin-left: 5px;
}

#legend div img{
  height: 17px;
  width: 17px;
}