body {
  background-color: #222831;
  color: #EEEEEE;
}

h1 {
  color: #00ADB5;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

h2 {
  color: #00ADB5;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.axis {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  stroke: #EEEEEE;
  fill: #EEEEEE;
  shape-rendering: crispEdges;
}

.xaxis path {
  display: none;
}

#stackBarChart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#stackBarChart #hoverText {
  font-family: 'Roboto', sans-serif;
  fill: #EEEEEE;
}

.legend text {
  font-family: 'Roboto', sans-serif;
  fill: #EEEEEE;
  font-size: 0.8em;
}

.chart2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chart2 rect {
  fill: steelblue;
}

#map{

  width: 95%;
  height: 800px;
  margin-right: 0px;
}

#coordinates{
  font-size: 20px;
  color: red;
  position: absolute;
  left: 10px;
  top: 150px;
}

#something{
  text-align: center;
}